<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CODEMAN</a>
            <a class="navbar-brand" href="/courses/create">Khóa học</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse dropdown item-user-dropdown">
                <ul class="navbar-nav ml-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <img src="https://play-lh.googleusercontent.com/GMRIG4P0e9RJSZ1xQno5bHkdaeZa721H_kTwB-WQxzxCJVty1D5Wh7uAI-d1Y1FgyQ"  class="user-avatar">
                            Huy Tran
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/courses/create">Đăng tin </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/stored/courses">Danh sách phòng trọ của tôi  </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>